$c-primary: #f01d25;
$c-primary-l: #f01d25;
$c-primary-d: #f01d25;
$c-secondary: #543bbb;
$c-secondary-l: #543bbb;
$c-secondar-d: #543bbb;
$c-accent: #061C5B;
$c-accent-l: #061C5B;
$c-accent-d: #061C5B;
$c-neutral-gray: #F2F4F7;
$c-neutral-gray-l: #eee;
$c-neutral-gray-d: #eef2f5;
$c-neutral-white: #fff;
$c-neutral-black: #222;